name: Mongolbank Data Automation

on:
  schedule:
    - cron: "0 0 * * *"   # өдөр бүр 00:00 UTC
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run automation script
      run: |
        python data_automation1.py

    - name: Upload output CSV
      uses: actions/upload-artifact@v4
      with:
        name: output-data
        path: "*.csv"
